.conatiner-signin-page{
    margin: auto;
    /* border: 1px solid #12d4af; */
}
.logo-img{
    width: 142px;
    height: 142px;
    display: block;
    margin: auto;
    margin-top: 0;
}
.conatiner-sign{
    width: 340px;
    height: 460px;
    margin: auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;

}
.header{
    p{
    text-align: center;
    font-size: 22px;
    margin-top: 0;
        span{
            color: #12d4af;
        }
    }
}
.email-box{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #1f1f39;
    background-color: #FAFAFA;
    border: 1px solid #12d4af;
    border-radius: 10px;
    input{
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        background: transparent;
        margin-left: 15px;
        font-size: 16px;
    }
    img{
        margin-left: 15px;
    }
    ::placeholder{
        color: #cbcbcb;
    }
}
.password-box{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: #1f1f39;
    background-color: #FAFAFA;
    border: 1px solid #12d4af;
    border-radius: 10px;
    input{
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        background: transparent;
        margin-left: 15px;
        font-size: 16px;
        font-weight: 300;
    }
    img{
        margin-left: 15px;
    }
    ::placeholder{
        color: #cbcbcb;
    }
}
.signin-title{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}
.btn-signin{
    width: 100%;
    height: 40px;
    background-color: #12d4af;
    color: #1f1f39;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-signin:hover{
    background-color: #0ac5a3;
}
.block-bar{
    width: 1px;
    height: 25px;
    background-color: #c2c2c2;
    margin-left: 15px;
}
.forgot-pas{
    float: right;
    color: #12d4af;
    font-size: 15px;
    text-decoration: none;
    margin-top: 5px;
}
.forgot-pas:hover{
    text-decoration: underline;
}
.create-new{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;
    color: #1f1f39;
    a{
        text-decoration: none;
        color: #12d4af;
    }
}
.create-new a:hover{
    text-decoration: underline;
}